flows/.flows.json.backup
[{"id":"8a5bd72.5acd328","type":"tab","label":"Flow 1"},{"id":"f1e502de.ade14","type":"debug","z":"8a5bd72.5acd328","name":"","active":true,"console":"false","complete":"false","x":376,"y":269,"wires":[]},{"id":"bc394541.e4f188","type":"debug","z":"8a5bd72.5acd328","name":"","active":true,"console":"false","complete":"false","x":617,"y":169,"wires":[]},{"id":"e235c982.fc6cc8","type":"function","z":"8a5bd72.5acd328","name":"","func":"msg.payload = msg.soapResponseCallback;\nreturn msg;","outputs":1,"noerr":0,"x":409,"y":93,"wires":[["bc394541.e4f188"]]},{"id":"42dd6d57.51bc44","type":"soapserver","z":"8a5bd72.5acd328","name":"","port":null,"x":79,"y":194,"wires":[[]]}]