flows/flows.json
[{"id":"8a5bd72.5acd328","type":"tab","label":"Flow 1"},{"id":"e235c982.fc6cc8","type":"function","z":"8a5bd72.5acd328","name":"","func":"msg.payload ={\n    \"v1\":\"a\",\n    \"v2\":\"b\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":60,"wires":[["37f086c0.49adfa"]]},{"id":"4a5d3aa0.9c91e4","type":"soapserver","z":"8a5bd72.5acd328","name":"","serviceurl":"127.0.0.1","port":"8888","services":"[{\"method\" : \"startFlow\",\"camps\" : [\"a\",\"b\"]},\n{\"method\" : \"pepito\",\"camps\" : [\"var1\",\"var2\"]},\n{\"method\" : \"hola\",\"camps\" : [\"chau\"]}]","x":154,"y":126,"wires":[["d7638796.b96fa8"]]},{"id":"d7638796.b96fa8","type":"switch","z":"8a5bd72.5acd328","name":"","property":"payload.method","propertyType":"msg","rules":[{"t":"eq","v":"startFlow","vt":"str"},{"t":"eq","v":"pepito","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":350,"y":140,"wires":[["e235c982.fc6cc8"],["921e16ac.b8a8a8"],["f9050ba7.b83f18"]]},{"id":"921e16ac.b8a8a8","type":"function","z":"8a5bd72.5acd328","name":"","func":"msg.payload ={\n    \"c1\":\"a\",\n    \"c2\":\"b\",\n    \"c3\":\"c\"\n    };\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":160,"wires":[["24e70468.9c035c"]]},{"id":"37f086c0.49adfa","type":"soapserverResponse","z":"8a5bd72.5acd328","name":"","x":690,"y":108,"wires":[]},{"id":"24e70468.9c035c","type":"soapserverResponse","z":"8a5bd72.5acd328","name":"","x":710,"y":160,"wires":[]},{"id":"f9050ba7.b83f18","type":"function","z":"8a5bd72.5acd328","name":"","func":"msg.payload = \"no anda\"\nreturn msg;","outputs":1,"noerr":0,"x":509,"y":256,"wires":[["f9eb2c3f.5655b"]]},{"id":"f9eb2c3f.5655b","type":"soapserverResponse","z":"8a5bd72.5acd328","name":"","x":690,"y":260,"wires":[]}]