flows/flows.json
[{"id":"8a5bd72.5acd328","type":"tab","label":"Flow 1"},{"id":"f1e502de.ade14","type":"debug","z":"8a5bd72.5acd328","name":"","active":true,"console":"false","complete":"false","x":376,"y":269,"wires":[]},{"id":"bc394541.e4f188","type":"debug","z":"8a5bd72.5acd328","name":"","active":true,"console":"false","complete":"false","x":617,"y":169,"wires":[]},{"id":"e235c982.fc6cc8","type":"function","z":"8a5bd72.5acd328","name":"","func":"msg.payload = msg.soapResponseCallback;\nreturn msg;","outputs":1,"noerr":0,"x":409,"y":93,"wires":[["bc394541.e4f188"]]},{"id":"750b439e.14a13c","type":"soapserverResponse","z":"8a5bd72.5acd328","name":"","x":463.5,"y":203,"wires":[]},{"id":"4a5d3aa0.9c91e4","type":"soapserver","z":"8a5bd72.5acd328","name":"","serviceurl":"127.0.0.1","port":"8888","services":"[{\"method\" : \"startFlow\",\"camps\" : [\"a\",\"b\"]},\n{\"method\" : \"pepito\",\"camps\" : [\"var1\",\"var2\"]}]","x":154,"y":126,"wires":[["f1e502de.ade14","750b439e.14a13c","e235c982.fc6cc8"]]}]